$primaryColor:#000000;
$secondaryColor:#F4F4F4;
$accentFirst:#CF7500;
$accentSecond:#F0A500;
$grayColor:#ADB5BD;
$whiteColor:#FFFFFF;
$primaryFont : "Neue Regrade", sans-serif;
$secondaryFont : "Inter", sans-serif;
$transp-white: #ffffff5e;
$bgBlack: #0C0C0C;