@import 'theme-default';

.ea{
    .eb{
        text-align: center;
        margin-bottom: 80px;
        height: 100vh;
        z-index: 1;
        position: sticky;
        top: 0;
        @media (max-width: 600px) {
            height: 35vh;
        }
        span{
            font-size: 12vw;
            font-family: $primaryFont;
            font-weight: 700;
            display: inline-block;
            line-height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
.ec-wrap{
    background-color: $whiteColor;
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: 0 -10px 40px rgba($color: #000000, $alpha: 0.1); 
    @media (max-width:991px) {
        overflow: hidden;
    }
}
.ec{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (max-width: 600px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .ec-detail{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding-top: 80px;
        padding-left: 32px;
        padding-bottom: 48px;
        @media (max-width: 991px) {
            padding: 0 32px 32px;
        }
        .ec-tool{
            margin-bottom: 48px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 24px;
            @media (max-width: 600px) {
                gap: 8px;
            }
            div{
                display: block;
                flex-shrink: 0;
                span{
                    display: block;
                    font-size: 16px;
                    line-height: 100%;
                    color: $primaryColor;
                    padding: 8px 24px;
                    border: 1px solid $primaryColor;
                    border-radius: 50px;
                }
            }
        }
        .ec-content{
            margin-top: auto;
            p{
                margin-bottom: 24px;
            }
        }
    }
    .ec-image{
        height: 100%;
        figure{
            width: 110%;
            height: 100%;
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            @media (max-width: 991px) {
                width: 100%;
            }
            &:before{
                content: "";
                display: block;
                padding-top: 90%;
            }
            img{
                width: 100%;
                height: 150%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
            }
        }
    }
    &.ec-rev{
        flex-direction: row-reverse;
        .ec-detail{
            padding-right: 32px;
            @media (max-width: 991px) {
                padding: 0 32px 32px;
            }
        }
        .ec-image{
            figure{
                margin-left: -10%;
                @media (max-width: 991px) {
                    margin-left: 0;
                }
            }
        }
    }
}
.hr{
  border: 1px solid $grayColor;
}

.wr-a{
    padding-top: 8vw;
    padding-bottom: 0;
    margin-bottom: 2vw;
    .container{
        height: 100%;
    }
    .wr-ab{
        width: 100%;
        height: 100%;
        .wr-ad{
            width: 100%;
            padding-bottom: 5vw;
        }
        .wr-ac{
            text-align: center;
            h1{
                margin-bottom: 0;
                font-size: 10vw;
            }
        }
    }
    @media (max-width:991px) {
        padding-top: 25vw;
    }
}

.wr-b{
    display: flex;
    .no-access{
        pointer-events: none;
        position: relative;
        &::before{
            content: "Coming Soon";
            font-family: $primaryFont;
            color: $whiteColor;
            font-weight: 600;
            font-size: 32px;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%,-50%);
            white-space: nowrap;
        }
    }
    .wr-bb{
        display: block;
        width: 40vw;
        flex-shrink: 0;
        margin-right: 1vw;
        img{
            width: 100%;
            max-height: 18vw;
            object-fit: cover;
            margin-bottom: 1vw;
            border-radius: .5vw;
        }
        h6{
            margin-bottom: 1vw;
        }
        .wr-bd{
            display: flex;
            gap: 16px;
            span {
                display: inline-block;
                font-size: 16px;
                line-height: 100%;
                color: #000000;
                padding: 8px 24px;
                border: 1px solid #000000;
                border-radius: 50px;
                @media (max-width:991px) {
                    font-size: 14px;
                    padding: 4px 8px;
                }
                @media (max-width:991px) {
                    font-size: 12px;
                 
                }
            }
        }
    }
    @media (max-width:1270px) {
        flex-wrap: wrap;
        width:100%;
        gap: 24px;
        .wr-ba{
            width: calc(50% - 12px);
            margin-bottom: 24px;
            .wr-bb{
                width: 100%;
                margin: 0;
                img{
                    min-height: 180px;
                    border-radius: 8px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        gap: 0;
        .wr-ba{
            width: 100%;
            margin-bottom: 50px;
        }
    }
}