.cs-a {
  padding-top: 160px;
}
.cs-a .row {
  margin-bottom: 80px;
  align-items: flex-end;
}
.cs-a .cs-ac {
  width: auto;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #ADB5BD;
  border-width: 1px;
  border-radius: 8px;
  margin-left: auto;
}
.cs-a .cs-ac div {
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid #ADB5BD;
  border-width: 0 1px 1px 0;
}
.cs-a .cs-ac div:nth-child(even) {
  border-right: 0;
}
.cs-a .cs-ac div:last-child, .cs-a .cs-ac div:nth-last-child(2) {
  border-bottom: 0;
}
.cs-a .cs-ac div span {
  color: #ADB5BD;
  margin-bottom: 16px;
  font-size: 14px;
}
.cs-a .cs-ac div p {
  margin-bottom: 0;
}
.cs-a .i-fw {
  border-radius: 2vw;
  overflow: hidden;
  position: relative;
}
.cs-a .i-fw:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
.cs-a .i-fw img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cs-af {
  padding: 0;
  position: sticky;
  top: 2vw;
}
@media (max-width: 991px) {
  .cs-af {
    display: none;
  }
}
.cs-af .cs-ad {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cs-af .cs-ad .cs-ae {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ADB5BD;
  border-radius: 50px;
  background-color: #FFFFFF;
  overflow: hidden;
  z-index: 9999;
  position: relative;
}
.cs-af .cs-ad .cs-ae li {
  border-left: 1px solid #ADB5BD;
}
.cs-af .cs-ad .cs-ae li:first-child {
  border: 0;
}
.cs-af .cs-ad .cs-ae li a {
  display: block;
  padding: 8px 24px;
  min-width: 150px;
  text-align: center;
}
.cs-af .cs-ad .cs-ae li a:hover {
  background-color: #CF7500;
  color: #FFFFFF;
}

.cs-ba {
  margin-top: 24px;
}
.cs-ba .cs-bd {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ADB5BD;
}
.cs-ba .cs-bd h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}
.cs-ba .cs-bd h4 span {
  color: #CF7500;
}
.cs-ba .cs-bd span {
  color: #ADB5BD;
}
.cs-ba .cs-bd p {
  margin-bottom: 0;
}

.cs-img {
  padding: 0;
}
.cs-img .cs-img-a {
  width: 100%;
  border-radius: 1vw;
  position: relative;
  background-color: #F4F4F4;
  padding: 2vw;
}
.cs-img .cs-img-a img {
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cs-cb {
  margin-bottom: 48px;
}

.cs-cc {
  align-items: flex-end;
}
.cs-cc .cs-ca {
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cs-cc .cs-ca h6 {
  margin-top: auto;
}
.cs-cc .cs-ca span {
  display: block;
  width: 100%;
  max-width: 50%;
  margin: 0 auto 24px;
  height: 70%;
  border: 1px solid #ADB5BD;
  border-radius: 8px 8px 0 0;
}
.cs-cc .cs-ca span.h-20 {
  height: 15%;
}
.cs-cc .cs-ca span.h-50 {
  height: 35%;
}
.cs-cc .cs-ca span.h-60 {
  height: 55%;
}
.cs-cc .cs-ca p {
  margin: 0;
}

.cs-d .cs-db img {
  width: 100%;
}

.cs-e .cs-ea {
  text-align: center;
  margin-bottom: 4vw;
}
.cs-e .cs-ea h1 {
  font-size: 10vw;
}
.cs-e .cs-eb {
  padding: 2vw;
  border: 1px solid #ADB5BD;
  border-radius: 1vw;
}
@media (max-width: 991px) {
  .cs-e .cs-eb {
    margin-bottom: 48px;
    padding: 24px;
  }
}
.cs-e .cs-eb hr {
  margin-bottom: 2vw;
}
.cs-e .cs-eb .cs-ec {
  display: flex;
  gap: 16px;
}
@media (max-width: 991px) {
  .cs-e .cs-eb .cs-ec {
    flex-wrap: wrap;
    gap: 0;
  }
}
.cs-e .cs-eb .cs-ec span {
  min-width: 100px;
  color: #ADB5BD;
}
.cs-e .cs-eb .cs-ec .cs-eca {
  margin-top: 2vw;
}
.cs-e .cs-eb .cs-ec .cs-ed {
  width: 100%;
  margin-bottom: 2vw;
  display: flex;
  gap: 2vw;
}
@media (max-width: 991px) {
  .cs-e .cs-eb .cs-ec .cs-ed {
    gap: 24px;
  }
}
.cs-e .cs-eb .cs-ec .cs-ed div {
  display: flex;
  gap: 1vw;
  margin-bottom: 1vw;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .cs-e .cs-eb .cs-ec .cs-ed div {
    gap: 0;
    margin-bottom: 0;
  }
}
.cs-e .cs-eb .cs-ec .cs-ed div span {
  display: block;
  width: 100%;
  height: 8vw;
  border-radius: 1vw;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cs-e .cs-eb .cs-ec .cs-ed div span {
    height: 48px;
  }
}
.cs-e .cs-eb .cs-ec .cs-ed div span.color-primary {
  background-color: #6CCFF6;
}
.cs-e .cs-eb .cs-ec .cs-ed div span.color-secondary {
  background-color: #0A1D36;
}
.cs-e .cs-eb .cs-ec .cs-ed div span.color-body-black {
  background-color: #42424a;
}
.cs-e .cs-eb .cs-ec .cs-ed div span.color-body-gray {
  border: 1px solid #0A1D36;
  background-color: #f4f8fd;
}
.cs-e .cs-eb .cs-ec .cs-ed div p {
  margin-bottom: 0;
}
.cs-e .cs-eb .cs-ec .is-jost .h4 {
  display: block;
  font-family: "Jost", sans-serif;
  color: #000000;
  font-weight: 700;
}
.cs-e .cs-eb .cs-ec .is-catamaran {
  font-family: "Catamaran", sans-serif;
}
.cs-e .cs-eb .cs-ec .is-catamaran p {
  color: #42424a;
}

.cs-f .cs-fa {
  text-align: center;
  margin-bottom: 4vw;
}
.cs-f .cs-fa h1 {
  font-size: 8vw;
  line-height: 100%;
}
.cs-f .cs-fb {
  margin-bottom: 1vw;
}
.cs-f .cs-fb img {
  width: 100%;
  border-radius: 2vw;
}

.cs-g .cs-ga {
  width: 100%;
  display: block;
}
.cs-g .cs-ga > img {
  width: 100%;
  border-radius: 2vw;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 1vw;
}
@media (max-width: 991px) {
  .cs-g .cs-ga > img {
    display: none;
  }
}
.cs-g .cs-ga .cs-gb {
  display: flex;
  align-items: center;
  gap: 1vw;
}
@media (max-width: 991px) {
  .cs-g .cs-ga .cs-gb {
    flex-wrap: wrap;
  }
}
.cs-g .cs-ga .cs-gb h4 {
  margin: 0;
}
.cs-g .cs-ga .cs-gb.right {
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cs-g .cs-ga .cs-gb.right span {
    order: 1;
  }
}
@media (max-width: 991px) {
  .cs-g .cs-ga .cs-gb.right h4 {
    order: 2;
  }
}
.cs-g .cs-ga .cs-gb span img {
  width: 120px;
  margin: 0;
}
@media (max-width: 991px) {
  .cs-g .cs-ga .cs-gb span {
    display: block;
  }
}
.cs-g .cs-ga:hover {
  color: #CF7500;
}

/*# sourceMappingURL=casestudy.css.map */
